
.btn-agendar {
  background-color: #1abc9c; 
  color: white;
  font-weight: bold;
  border-radius: 50px; 
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease;
}

.btn-agendar:hover {
  background-color: #16a085; 
  color: white;
  transform: scale(1.05);
}


.linea-verde {
  width: 100px;
  height: 5px;
  background-color: #1abc9c; 
  border-radius: 5px;
}


.card-servicio {
  border-radius: 20px; 
  transition: all 0.3s ease;
}

.card-servicio:hover {
  transform: translateY(-10px); 
  box-shadow: 0 10px 20px rgba(0,0,0,0.2) !important;
}


.card-color-1 {
  background: linear-gradient(135deg, #00B4DB, #0083B0); 
}
.card-color-2 {
  background: linear-gradient(135deg, #38ef7d, #11998e); 
}
.card-color-3 {
  background: linear-gradient(135deg, #11C2E5, #00A99D); 
}



.cta-section {
  background-color: #1abc9c; 
}

.cta-section .btn-light {
  border-radius: 50px;
  color: #1abc9c; 
}

/* --- Footer Oscuro --- */
.footer-oscuro {
  background-color: #2c3e50; 
}

.footer-oscuro ul li {
  color: #bdc3c7; 
}

.footer-oscuro a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-oscuro a:hover {
  color: #1abc9c; 
}

.card-producto {
  border-radius: 15px; 
  transition: all 0.3s ease;
}

.card-producto:hover {
  transform: translateY(-10px); 
  box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}